html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
	background-color: #0f0f0f;
	color: #f0f0f0;
	scrollbar-width: thin;
	color-scheme: dark;
}

* {
  box-sizing: border-box;
}

a {
  color: #ccddff;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

img {
  max-width: 60%;
  display: block;
	margin: 0 auto;
}

::selection {
	background-color: #ccddff;
	color: #0f0f0f;
}

@media (prefers-color-scheme: light) {
	html {
		background-color: #f0f0f0; color: #0f0f0f;
	}
	a {
		color: #0044dd;	
	}
	::selection {
		background-color: #0044dd;
		color: #f0f0f0;
	}
}